<p style="color: green"><%= notice %></p>

<% content_for :title, "Lessons" %>

<h1>Lessons</h1>

<div id="admin_lessons">
  <% @admin_lessons.each do |admin_lesson| %>
    <%= render admin_lesson %>
    <p>
      <%= link_to "Show this lesson", admin_lesson %>
    </p>
  <% end %>
</div>

<%= link_to "New lesson", new_admin_lesson_path %>
