<div class="flex flex-col justify-start items-center w-full">
  <% content_for :title, "New lesson" %>

  <%= render "form", admin_lesson: @admin_lesson %>

  <br>

  <div>
    <%= link_to "Back to lessons", admin_post_lessons_path %>
  </div>
</div>